<div class="row">
    <div class="col-4">
        <div class="card text-bg-light mb-3">
            <div class="card-header">Datos del usuario</div>
            <div class="card-body">
                <p class="card-text">
                    <b>Nombre:</b>
                </p>
                <p class="card-text">
                    <b>Credito:</b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card text-bg-light mb-3">
            <div class="card-header">Ranking</div>
            <div class="card-body">
                <p class="card-text">
                    <b>1:</b> Denis
                </p>
                <p class="card-text">
                    <b>2:</b> Denis
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-4">
        <app-partido></app-partido>
    </div>
</div>