<div class="row">
    <div class="col-4">
        <div class="card text-bg-light mb-3">
            <div class="card-header">Datos del usuario</div>
            <div class="card-body">
                <p class="card-text">
                    <b>Nombre: </b> <span class="badge text-bg-primary">Denis</span>
                </p>
                <p class="card-text">
                    <b>Puntaje: </b> <span class="badge text-bg-primary">0pts</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-bg-light mb-3">
            <div class="card-header">Puntaje de apuesta</div>
            <div class="card-body">
                <p class="card-text">
                    <b>Acertar ganador: </b> <span class="badge text-bg-danger">2pts</span>
                </p>
                <p class="card-text">
                    <b>Acertar resultado: </b> <span class="badge text-bg-danger">5pts</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-4">
        <app-partido></app-partido>
    </div>
</div>