<div class="card text-center">
    <div class="card-header">
        Apostar en partido
    </div>
    <div class="card-body">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Mexico</th>
                    <th scope="col">vs</th>
                    <th scope="col">Argentina</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>:</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        12/11/22 20:00
    </div>
</div>